<div class="container-component">
  <form #formDirective="ngForm" class="div-component margin-5" [formGroup]="questionForm"
    (ngSubmit)="onSubmit(formDirective)">
    <div *ngFor="let skill of skills;let i = index">
      <div *ngIf="i==numSkill" class="flex-column center-select">
        <div class="skillObj">
          <div class="button">
            <a type="button" (click)="goLeft()">
              <mat-icon class="normal-icons">keyboard_arrow_left</mat-icon>
            </a>
          </div>
          <img style="width: 50px" src="{{skill.urlImage}}" alt="{{skill.skillId}}">
          <div class="button">
            <a type="button" (click)="goRight()">
              <mat-icon class="normal-icons">keyboard_arrow_right</mat-icon>
            </a>
          </div>
        </div>
        <p>{{skill.skillName}}</p>

      </div>
    </div>
    <div class="form-group">
      <mat-form-field class="fq-field" appearance="outline">
        <mat-label *ngIf="!submitted">Enunciat</mat-label>
        <mat-label *ngIf="submitted && formData.enunciat.errors.required" color="warn">Enunciat obligatori</mat-label>
        <mat-label *ngIf="submitted && formData.enunciat.errors.maxlength" color="warn">Enunciat massa llarg</mat-label>
        <textarea class="fq-textarea" formControlName="enunciat" matInput cdkTextareaAutosize
          #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3"></textarea>
      </mat-form-field>
    </div>
    <div class="form-group">
      <div class="check-container">
        <a class="check-button" type="button" (click)="setRespostaCorrecta(questionForm.value.resposta1,1)">
          <div *ngIf="numRespostaCorrecta==1">
            <mat-icon class="green-icon normal-icons">done</mat-icon>
          </div>
          <div *ngIf="numRespostaCorrecta!=1">
            <mat-icon class="normal-icons">done</mat-icon>
          </div>
        </a>
      </div>
      <mat-form-field class="fq-field" appearance="outline">
        <mat-label *ngIf="!submitted">Resposta 1</mat-label>
        <mat-label *ngIf="submitted && formData.resposta2.errors.required" color="warn">Resposta 1 obligatoria
        </mat-label>
        <mat-label *ngIf="submitted && formData.resposta2.errors.maxlength" color="warn">Resposta 1 massa llarga
        </mat-label>
        <textarea class="fq-textarea" formControlName="resposta1" matInput cdkTextareaAutosize
          #autosize="cdkTextareaAutosize" rows="1" cdkAutosizeMinRows="1"></textarea>
      </mat-form-field>

    </div>
    <div class="form-group">
      <div class="check-container">
        <a class="check-button" type="button" (click)="setRespostaCorrecta(questionForm.value.resposta2,2)">
          <div *ngIf="numRespostaCorrecta==2">
            <mat-icon class="green-icon normal-icons">done</mat-icon>
          </div>
          <div *ngIf="numRespostaCorrecta!=2">
            <mat-icon class="normal-icons">done</mat-icon>
          </div>
        </a>
      </div>
      <mat-form-field class="fq-field" appearance="outline">
        <mat-label *ngIf="!submitted">Resposta 2</mat-label>
        <mat-label *ngIf="submitted && formData.resposta2.errors.required" color="warn">Resposta 2 obligatoria
        </mat-label>
        <mat-label *ngIf="submitted && formData.resposta2.errors.maxlength" color="warn">Resposta 2 massa llarga
        </mat-label>
        <textarea class="fq-textarea" formControlName="resposta2" matInput cdkTextareaAutosize
          #autosize="cdkTextareaAutosize" rows="1" cdkAutosizeMinRows="1"></textarea>
      </mat-form-field>

    </div>
    <div class="form-group">
      <div class="check-container">
        <a class="check-button" type="button" (click)="setRespostaCorrecta(questionForm.value.resposta3,3)">
          <div *ngIf="numRespostaCorrecta==3">
            <mat-icon class="green-icon normal-icons">done</mat-icon>
          </div>
          <div *ngIf="numRespostaCorrecta!=3">
            <mat-icon class="normal-icons">done</mat-icon>
          </div>
        </a>
      </div>
      <mat-form-field class="fq-field" appearance="outline">

        <mat-label *ngIf="!submitted">Resposta 3</mat-label>
        <mat-label *ngIf="submitted && formData.resposta3.errors.required" color="warn">Resposta 3 obligatoria
        </mat-label>
        <mat-label *ngIf="submitted && formData.resposta3.errors.maxlength" color="warn">Resposta 3 massa llarga
        </mat-label>
        <textarea class="fq-textarea" formControlName="resposta3" matInput cdkTextareaAutosize
          #autosize="cdkTextareaAutosize" rows="1" cdkAutosizeMinRows="1"></textarea>

      </mat-form-field>

    </div>
    <div class="form-group">
      <div class="check-container">
        <a class="check-button" type="button" (click)="setRespostaCorrecta(questionForm.value.resposta4,4)">
          <div *ngIf="numRespostaCorrecta==4">
            <mat-icon class="green-icon normal-icons">done</mat-icon>
          </div>
          <div *ngIf="numRespostaCorrecta!=4">
            <mat-icon class="normal-icons">done</mat-icon>
          </div>
        </a>
      </div>
      <mat-form-field class="fq-field" appearance="outline">
        <mat-label *ngIf="!submitted">Resposta 4</mat-label>
        <mat-label *ngIf="submitted && formData.resposta4.errors.required" color="warn">Resposta 4 obligatoria
        </mat-label>
        <mat-label *ngIf="submitted && formData.resposta4.errors.maxlength" color="warn">Resposta 4 massa llarga
        </mat-label>
        <textarea class="fq-textarea" formControlName="resposta4" matInput cdkTextareaAutosize
          #autosize="cdkTextareaAutosize" rows="1" cdkAutosizeMinRows="1"></textarea>
      </mat-form-field>
    </div>
    <div class="form-group">
      <button color="accent" mat-flat-button [disabled]="respostaCorrecta==null" class="btn btn-primary">Envia
        pregunta</button>
    </div>
  </form>
</div>