<div class="container-component center-select margin-10">
  <div class="div-component">
    <div class="info-section">
      <p>
        Dispose garantitza la plena inutilització de les dades personals per fins lucratius
        i en preservar la seva seguretat per otorgar una plena confiança al usuari.
      </p>
      <br>
      <p>
        Promovem una política eficient envers els usuaris degut a que són la principal font sustancial
        que mantenten aquesta xarxa.
      </p>
      <br>
      <p>
        Agraim la seva confiança a nosaltres.
      </p>
      <br>
      <p>
        Cordialment, equip de Dispose.
      </p>
    </div>
  </div>
</div>